body {
    background-color: black;
    color: white;
}

.jumbotron {
    border: 10px dashed white;
    background-color: black;
}

#current-word, #count, #win, #empty-div {
    font-size: 35px;
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
}

h1, h2 {
    font-family: 'Bangers', cursive;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 4px;
}

.flashit{
    color:white;
      -webkit-animation: flash linear 1s infinite;
      animation: flash linear 1s infinite;
      font-size: 35px;
      font-family: 'VT323', monospace;
      letter-spacing: 2px;
  }
  @-webkit-keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
  }
  @keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
  }